body {
    background-color: black;

}

#container {
    width: 1000px;
    height: 600px;
    background-color:aquamarine;
    
}
#calculator {
    height: 600px;
    width: 355px;
    background-color: chartreuse;
    position: relative;
}

